<br>
<div class="jumbotron">
  <h1 style="color:red">NEEDS MORE LASERS.</h1>
  <p>Seriously...</p>
  <p><%= image_tag("kukkahattu.png", :alt => "laserkukkahattu", :id => "laser") %></p>
  <p><button class="btn btn-primary btn-lg" onclick="lasers()" type="button" href="">BOOM!</button></p>
</div>
