<h1>StaticPages#home</h1>
<div>
  <p>
    <h1 class="text-center" style="color:red">NEEDS MORE LASERS.</h1>
  <%# <%= image_tag "kukkahattu.png" %>  <%#= image_tag "kukkahattu.png" %>  <%#= image_tag "kukkahattu.png" %>
  </p>
</div>
<p>Find me in app/views/static_pages/home.html.erb</p>
