<br>
<div class="jumbotron">
  <h1 style="color:red">NEEDS MORE LASERS.</h1>
  <p>Seriously...</p>
  <p><%= image_tag("kukkahattu.png", :alt => "laserkukkahattu") %></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">BOOM!</a></p>
</div>
