<table class="table">
  <thead>
    <tr>
      <th>reference</th>
      <th>author</th>
      <th>title</th>
      <th>tags</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to item.reference, item %></td>
        <td><%= item.author %></td>
        <td><%= item.title %></td>
        <td>
          <% if item.tags %>
            <%  item.tags.split(", ").each do |tag| %>
              <span class="label label-primary"> <%= tag %> </span>
              &nbsp;
        <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
