


<h1>All</h1>

<h2>Articles</h2>
<div>
  <%= render 'list', items: @articles %>
</div>

<h2>Books</h2>
<div>
  <%= render 'list', items: @books %>
</div>

<h2>Inproceedings</h2>
<div>
  <%= render 'list', items: @inproceedings %>
</div>
