<!DOCTYPE html>
  <head>
    <style>
      textarea {
        width: 50%;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <textarea readonly="readonly">
      <%= @bibtex %>
    </textarea>
  </body>
</html>
